.cart {
  position: absolute;
  font-size: 16px;
  background-color: white;
  
 
  top: 51px;
  right: 0;
  z-index: 1002;
  scrollbar-width: 2px;
}

.cart::-webkit-scrollbar {
  width: 3px;
}

.cart::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.cart::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

.inner {
  padding: 32px 16px;
}

.title {
  margin-bottom: 20px;
}

.bag {
  font-weight: 700;
}

.cart-items {
  display: block;
  padding-right: 1px;
  max-height: 420px;
  width: 293px;
  overflow: auto;
}

.cart-items > :last-of-type {
  margin-bottom: 0;
}

.cart-items::-webkit-scrollbar {
  width: 3px;
}

.cart-items::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.cart-items::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

.order-summry {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.price {
  font-weight: 700;
}

.order-controls {
  display: flex;
  justify-content: space-between;
}
