.cart {
  position: absolute;
  background-color: white;
  width: 325px;
  height: 677px;
  top: 30px;
  right:0;
  z-index: 1002;
}

.inner {
  padding: 32px 16px;
}

.title {
  margin-bottom: 20px;
}

.order-summry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}