.dropdown {
  background-color: bisque;
  width: 50px;
  position: relative;
  z-index: 1003;
}

.dropdown ul {
  padding: 10px;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
  left: 0;
  top: 100%;
  z-index: 10;
}
